# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [18]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [19]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path('./Resources/applicants_data.csv'))

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [73]:
applicant_data_df['ASK_AMT'].value_counts()

5000       25398
15583          3
6725           3
63981          3
10478          3
           ...
75598          1
22336          1
44863          1
5928           1
6948863        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [20]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [21]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [22]:
# Create a list of categorical variables 
categorical_variables = list(
                applicant_data_df.dtypes[
                    applicant_data_df.dtypes == 'object'
                    ].index
                )

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [23]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [78]:
# Encode the categorical variables using OneHotEncoder
encoded_data = enc.fit_transform(
    applicant_data_df[categorical_variables]
)

In [25]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
) 



# Review the DataFrame
display(encoded_df.dtypes)
print(encoded_df)

APPLICATION_TYPE_T10        float64
APPLICATION_TYPE_T12        float64
APPLICATION_TYPE_T13        float64
APPLICATION_TYPE_T14        float64
APPLICATION_TYPE_T15        float64
                             ...
INCOME_AMT_25000-99999      float64
INCOME_AMT_50M+             float64
INCOME_AMT_5M-10M           float64
SPECIAL_CONSIDERATIONS_N    float64
SPECIAL_CONSIDERATIONS_Y    float64
Length: 114, dtype: object

       APPLICATION_TYPE_T10  APPLICATION_TYPE_T12  APPLICATION_TYPE_T13  \
0                       1.0                   0.0                   0.0
1                       0.0                   0.0                   0.0
2                       0.0                   0.0                   0.0
3                       0.0                   0.0                   0.0
4                       0.0                   0.0                   0.0
...                     ...                   ...                   ...
34294                   0.0                   0.0                   0.0
34295                   0.0                   0.0                   0.0
34296                   0.0                   0.0                   0.0
34297                   0.0                   0.0                   0.0
34298                   0.0                   0.0                   0.0

       APPLICATION_TYPE_T14  APPLICATION_TYPE_T15  APPLICATION_TYPE_T17  \
0                       0.0                   0.0                   0.0
1                       0.0                   0.0                   0.0
2                       0.0                   0.0                   0.0
3                       0.0                   0.0                   0.0
4                       0.0                   0.0                   0.0
...                     ...                   ...                   ...
34294                   0.0                   0.0                   0.0
34295                   0.0                   0.0                   0.0
34296                   0.0                   0.0                   0.0
34297                   0.0                   0.0                   0.0
34298                   0.0                   0.0                   0.0

       APPLICATION_TYPE_T19  APPLICATION_TYPE_T2  APPLICATION_TYPE_T25  \
0                       0.0                  0.0                   0.0
1                       0.0                  0.0                   0.0
2                       0.0                  0.0                   0.0
3                       0.0                  0.0                   0.0
4                       0.0                  0.0                   0.0
...                     ...                  ...                   ...
34294                   0.0                  0.0                   0.0
34295                   0.0                  0.0                   0.0
34296                   0.0                  0.0                   0.0
34297                   0.0                  0.0                   0.0
34298                   0.0                  0.0                   0.0

       APPLICATION_TYPE_T29  ...  INCOME_AMT_1-9999  INCOME_AMT_10000-24999  \
0                       0.0  ...                0.0                     0.0
1                       0.0  ...                1.0                     0.0
2                       0.0  ...                0.0                     0.0
3                       0.0  ...                0.0                     1.0
4                       0.0  ...                0.0                     0.0
...                     ...  ...                ...                     ...
34294                   0.0  ...                0.0                     0.0
34295                   0.0  ...                0.0                     0.0
34296                   0.0  ...                0.0                     0.0
34297                   0.0  ...                0.0                     0.0
34298                   0.0  ...                0.0                     0.0

       INCOME_AMT_100000-499999  INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  \
0                           0.0                 0.0               0.0
1                           0.0                 0.0               0.0
2                           0.0                 0.0               0.0
3                           0.0                 0.0               0.0
4                           1.0                 0.0               0.0
...                         ...                 ...               ...
34294                       0.0                 0.0               0.0
34295                       0.0                 0.0               0.0
34296                       0.0                 0.0               0.0
34297                       0.0                 0.0               0.0
34298                       0.0                 0.0               1.0

       INCOME_AMT_25000-99999  INCOME_AMT_50M+  INCOME_AMT_5M-10M  \
0                         0.0              0.0                0.0
1                         0.0              0.0                0.0
2                         0.0              0.0                0.0
3                         0.0              0.0                0.0
4                         0.0              0.0                0.0
...                       ...              ...                ...
34294                     0.0              0.0                0.0
34295                     0.0              0.0                0.0
34296                     0.0              0.0                0.0
34297                     0.0              0.0                0.0
34298                     0.0              0.0                0.0

       SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0                           1.0                       0.0
1                           1.0                       0.0
2                           1.0                       0.0
3                           1.0                       0.0
4                           1.0                       0.0
...                         ...                       ...
34294                       1.0                       0.0
34295                       1.0                       0.0
34296                       1.0                       0.0
34297                       1.0                       0.0
34298                       1.0                       0.0

[34299 rows x 114 columns]

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [81]:
# Create a DataFrame with the columns containing numerical variables from the original dataset
numerical_variables_df = applicant_data_df.drop(columns = categorical_variables)

# Review numerical_variables_df
display(numerical_variables_df)

# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
combined_encoded_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)

# Review the Dataframe
print(combined_encoded_df)

       STATUS   ASK_AMT  IS_SUCCESSFUL
0           1      5000              1
1           1    108590              1
2           1      5000              0
3           1      6692              1
4           1    142590              1
...       ...       ...            ...
34294       1      5000              0
34295       1      5000              0
34296       1      5000              0
34297       1      5000              1
34298       1  36500179              0

[34299 rows x 3 columns]

       STATUS   ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_T10  \
0           1      5000              1                   1.0
1           1    108590              1                   0.0
2           1      5000              0                   0.0
3           1      6692              1                   0.0
4           1    142590              1                   0.0
...       ...       ...            ...                   ...
34294       1      5000              0                   0.0
34295       1      5000              0                   0.0
34296       1      5000              0                   0.0
34297       1      5000              1                   0.0
34298       1  36500179              0                   0.0

       APPLICATION_TYPE_T12  APPLICATION_TYPE_T13  APPLICATION_TYPE_T14  \
0                       0.0                   0.0                   0.0
1                       0.0                   0.0                   0.0
2                       0.0                   0.0                   0.0
3                       0.0                   0.0                   0.0
4                       0.0                   0.0                   0.0
...                     ...                   ...                   ...
34294                   0.0                   0.0                   0.0
34295                   0.0                   0.0                   0.0
34296                   0.0                   0.0                   0.0
34297                   0.0                   0.0                   0.0
34298                   0.0                   0.0                   0.0

       APPLICATION_TYPE_T15  APPLICATION_TYPE_T17  APPLICATION_TYPE_T19  ...  \
0                       0.0                   0.0                   0.0  ...
1                       0.0                   0.0                   0.0  ...
2                       0.0                   0.0                   0.0  ...
3                       0.0                   0.0                   0.0  ...
4                       0.0                   0.0                   0.0  ...
...                     ...                   ...                   ...  ...
34294                   0.0                   0.0                   0.0  ...
34295                   0.0                   0.0                   0.0  ...
34296                   0.0                   0.0                   0.0  ...
34297                   0.0                   0.0                   0.0  ...
34298                   0.0                   0.0                   0.0  ...

       INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                    0.0                     0.0                       0.0
1                    1.0                     0.0                       0.0
2                    0.0                     0.0                       0.0
3                    0.0                     1.0                       0.0
4                    0.0                     0.0                       1.0
...                  ...                     ...                       ...
34294                0.0                     0.0                       0.0
34295                0.0                     0.0                       0.0
34296                0.0                     0.0                       0.0
34297                0.0                     0.0                       0.0
34298                0.0                     0.0                       0.0

       INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                     0.0               0.0                     0.0
1                     0.0               0.0                     0.0
2                     0.0               0.0                     0.0
3                     0.0               0.0                     0.0
4                     0.0               0.0                     0.0
...                   ...               ...                     ...
34294                 0.0               0.0                     0.0
34295                 0.0               0.0                     0.0
34296                 0.0               0.0                     0.0
34297                 0.0               0.0                     0.0
34298                 0.0               1.0                     0.0

       INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                  0.0                0.0                       1.0
1                  0.0                0.0                       1.0
2                  0.0                0.0                       1.0
3                  0.0                0.0                       1.0
4                  0.0                0.0                       1.0
...                ...                ...                       ...
34294              0.0                0.0                       1.0
34295              0.0                0.0                       1.0
34296              0.0                0.0                       1.0
34297              0.0                0.0                       1.0
34298              0.0                0.0                       1.0

       SPECIAL_CONSIDERATIONS_Y
0                           0.0
1                           0.0
2                           0.0
3                           0.0
4                           0.0
...                         ...
34294                       0.0
34295                       0.0
34296                       0.0
34297                       0.0
34298                       0.0

[34299 rows x 117 columns]

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [27]:
# Define the target set y using the IS_SUCCESSFUL column
y = combined_encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [28]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = combined_encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [29]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [31]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [32]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [34]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [35]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [37]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [38]:
# Create the Sequential model instance
nn = Sequential()

In [39]:
# Add the first hidden layer
nn.add(Dense(
    units=hidden_nodes_layer1,
    input_dim=number_input_features,
    activation='relu'
    )
)

In [40]:
# Add the second hidden layer
nn.add(Dense(
    units=hidden_nodes_layer2,
    activation='relu'
    )
)

In [41]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(
    units=1,
    activation='sigmoid'
    )
)

In [42]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 58)                6786
_________________________________________________________________
dense_1 (Dense)              (None, 29)                1711
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 30
=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [43]:
# Compile the Sequential model
nn.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [44]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(
    X_train_scaled,
    y_train,
    epochs=50
)

Epoch 1/50
804/804 [==============================] - 1s 877us/step - loss: 0.5783 - accuracy: 0.7176
Epoch 2/50
804/804 [==============================] - 1s 892us/step - loss: 0.5534 - accuracy: 0.7313
Epoch 3/50
804/804 [==============================] - 1s 870us/step - loss: 0.5489 - accuracy: 0.7304
Epoch 4/50
804/804 [==============================] - 1s 875us/step - loss: 0.5485 - accuracy: 0.7315
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7334
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7338
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7334
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7346
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7353
Epoch 10/50
804/804 [==============================] - 1s 976us/step - loss: 0.5420 - accuracy: 0.7347
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7348
Epoch 12/50
804/804 [==============================] - 1s 912us/step - loss: 0.5410 - accuracy: 0.7353
Epoch 13/50
804/804 [==============================] - 1s 972us/step - loss: 0.5407 - accuracy: 0.7358
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7364
Epoch 15/50
804/804 [==============================] - 1s 851us/step - loss: 0.5393 - accuracy: 0.7365
Epoch 16/50
804/804 [==============================] - 1s 960us/step - loss: 0.5396 - accuracy: 0.7364
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7374
Epoch 18/50
804/804 [==============================] - 1s 983us/step - loss: 0.5387 - accuracy: 0.7372
Epoch 19/50
804/804 [==============================] - 1s 985us/step - loss: 0.5379 - accuracy: 0.7364
Epoch 20/50
804/804 [==============================] - 1s 972us/step - loss: 0.5371 - accuracy: 0.7367
Epoch 21/50
804/804 [==============================] - 1s 906us/step - loss: 0.5376 - accuracy: 0.7372
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7383
Epoch 23/50
804/804 [==============================] - 1s 906us/step - loss: 0.5366 - accuracy: 0.7385
Epoch 24/50
804/804 [==============================] - 1s 833us/step - loss: 0.5365 - accuracy: 0.7385
Epoch 25/50
804/804 [==============================] - 1s 830us/step - loss: 0.5365 - accuracy: 0.7375
Epoch 26/50
804/804 [==============================] - 1s 846us/step - loss: 0.5357 - accuracy: 0.7386
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7392
Epoch 28/50
804/804 [==============================] - 1s 747us/step - loss: 0.5355 - accuracy: 0.7381
Epoch 29/50
804/804 [==============================] - 1s 782us/step - loss: 0.5356 - accuracy: 0.7399
Epoch 30/50
804/804 [==============================] - 1s 804us/step - loss: 0.5351 - accuracy: 0.7389
Epoch 31/50
804/804 [==============================] - 1s 937us/step - loss: 0.5349 - accuracy: 0.7388
Epoch 32/50
804/804 [==============================] - 1s 797us/step - loss: 0.5345 - accuracy: 0.7401
Epoch 33/50
804/804 [==============================] - 1s 770us/step - loss: 0.5342 - accuracy: 0.7398
Epoch 34/50
804/804 [==============================] - 1s 831us/step - loss: 0.5342 - accuracy: 0.7390
Epoch 35/50
804/804 [==============================] - 1s 699us/step - loss: 0.5344 - accuracy: 0.7402
Epoch 36/50
804/804 [==============================] - 1s 766us/step - loss: 0.5341 - accuracy: 0.7397
Epoch 37/50
804/804 [==============================] - 1s 834us/step - loss: 0.5340 - accuracy: 0.7392
Epoch 38/50
804/804 [==============================] - 1s 801us/step - loss: 0.5334 - accuracy: 0.7399
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7404
Epoch 40/50
804/804 [==============================] - 1s 948us/step - loss: 0.5332 - accuracy: 0.7404
Epoch 41/50
804/804 [==============================] - 1s 797us/step - loss: 0.5333 - accuracy: 0.7406
Epoch 42/50
804/804 [==============================] - 1s 794us/step - loss: 0.5332 - accuracy: 0.7399
Epoch 43/50
804/804 [==============================] - 1s 773us/step - loss: 0.5327 - accuracy: 0.7404
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7413
Epoch 45/50
804/804 [==============================] - 1s 897us/step - loss: 0.5321 - accuracy: 0.7404
Epoch 46/50
804/804 [==============================] - 1s 741us/step - loss: 0.5326 - accuracy: 0.7408
Epoch 47/50
804/804 [==============================] - 1s 867us/step - loss: 0.5326 - accuracy: 0.7401
Epoch 48/50
804/804 [==============================] - 1s 723us/step - loss: 0.5322 - accuracy: 0.7408
Epoch 49/50
804/804 [==============================] - 1s 729us/step - loss: 0.5322 - accuracy: 0.7413
Epoch 50/50
804/804 [==============================] - 1s 685us/step - loss: 0.5320 - accuracy: 0.7409

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [45]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5551 - accuracy: 0.7311
Loss: 0.5551034212112427, Accuracy: 0.7310787439346313

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [46]:
# Set the model's file path
file_path = Path('./Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

<font color=LimeGreen>**Rewind:**</font> Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:

- [ ] Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
- [ ] Add more neurons (nodes) to a hidden layer.
- [x] Add more hidden layers. -- <font color=Crimson>**Alternative Model 1**</font>
- [ ] Use different activation functions for the hidden layers.
- [ ] Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [48]:
# Define the the number of inputs (features) to the model
number_input_features_A1 = len(X_train.iloc[0])

# Review the number of features
number_input_features_A1

116

In [49]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [50]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features_A1 + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [65]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer2_A1 = (hidden_nodes_layer1_A1 + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A1

29

In [66]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer3_A1 = (hidden_nodes_layer2_A1 + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer3_A1

15

In [67]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [68]:
# First hidden layer
nn_A1.add(Dense(
    units=hidden_nodes_layer1_A1,
    input_dim=number_input_features,
    activation='relu'
    )
)

# Second hidden layer
nn_A1.add(Dense(
    units=hidden_nodes_layer2_A1,
    activation='relu'
    )
)

# Third hidden layer
nn_A1.add(Dense(
    units=hidden_nodes_layer3_A1,
    activation='relu'
    )
) 

# Output layer
nn_A1.add(Dense(
    units=1,
    activation='sigmoid'
    )
)

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 58)                6786
_________________________________________________________________
dense_4 (Dense)              (None, 29)                1711
_________________________________________________________________
dense_5 (Dense)              (None, 15)                450
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 16
=================================================================
Total params: 8,963
Trainable params: 8,963
Non-trainable params: 0
_________________________________________________________________

In [71]:
# Compile the Sequential model
nn_A1.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [72]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(
    X_train_scaled,
    y_train,
    epochs=100
)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5731 - accuracy: 0.7205
Epoch 2/100
804/804 [==============================] - 1s 943us/step - loss: 0.5525 - accuracy: 0.7288
Epoch 3/100
804/804 [==============================] - 1s 978us/step - loss: 0.5492 - accuracy: 0.7298
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7315
Epoch 5/100
804/804 [==============================] - 1s 980us/step - loss: 0.5461 - accuracy: 0.7318
Epoch 6/100
804/804 [==============================] - 1s 977us/step - loss: 0.5443 - accuracy: 0.7337
Epoch 7/100
804/804 [==============================] - 1s 973us/step - loss: 0.5436 - accuracy: 0.7346
Epoch 8/100
804/804 [==============================] - 1s 961us/step - loss: 0.5429 - accuracy: 0.7342
Epoch 9/100
804/804 [==============================] - 1s 898us/step - loss: 0.5422 - accuracy: 0.7350
Epoch 10/100
804/804 [==============================] - 1s 917us/step - loss: 0.5412 - accuracy: 0.7352
Epoch 11/100
804/804 [==============================] - 1s 899us/step - loss: 0.5403 - accuracy: 0.7366
Epoch 12/100
804/804 [==============================] - 1s 898us/step - loss: 0.5402 - accuracy: 0.7365
Epoch 13/100
804/804 [==============================] - 1s 930us/step - loss: 0.5399 - accuracy: 0.7363
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7376
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7381
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7373
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7384
Epoch 18/100
804/804 [==============================] - 1s 923us/step - loss: 0.5374 - accuracy: 0.7369
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7381
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7381
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7381
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7394
Epoch 23/100
804/804 [==============================] - 1s 914us/step - loss: 0.5362 - accuracy: 0.7386
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7395
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7382
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7394
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7404
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7379
Epoch 29/100
804/804 [==============================] - 1s 939us/step - loss: 0.5350 - accuracy: 0.7391
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7406
Epoch 31/100
804/804 [==============================] - 1s 950us/step - loss: 0.5340 - accuracy: 0.7397
Epoch 32/100
804/804 [==============================] - 1s 915us/step - loss: 0.5343 - accuracy: 0.7400
Epoch 33/100
804/804 [==============================] - 1s 975us/step - loss: 0.5341 - accuracy: 0.7396
Epoch 34/100
804/804 [==============================] - 1s 990us/step - loss: 0.5337 - accuracy: 0.7400
Epoch 35/100
804/804 [==============================] - 1s 845us/step - loss: 0.5341 - accuracy: 0.7398
Epoch 36/100
804/804 [==============================] - 1s 934us/step - loss: 0.5336 - accuracy: 0.7397
Epoch 37/100
804/804 [==============================] - 1s 905us/step - loss: 0.5336 - accuracy: 0.7406
Epoch 38/100
804/804 [==============================] - 1s 935us/step - loss: 0.5332 - accuracy: 0.7406
Epoch 39/100
804/804 [==============================] - 1s 969us/step - loss: 0.5328 - accuracy: 0.7412
Epoch 40/100
804/804 [==============================] - 1s 911us/step - loss: 0.5331 - accuracy: 0.7415
Epoch 41/100
804/804 [==============================] - 1s 914us/step - loss: 0.5329 - accuracy: 0.7404
Epoch 42/100
804/804 [==============================] - 1s 948us/step - loss: 0.5320 - accuracy: 0.7408
Epoch 43/100
804/804 [==============================] - 1s 904us/step - loss: 0.5327 - accuracy: 0.7409
Epoch 44/100
804/804 [==============================] - 1s 927us/step - loss: 0.5325 - accuracy: 0.7407
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7417
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7411
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7410
Epoch 48/100
804/804 [==============================] - 1s 941us/step - loss: 0.5318 - accuracy: 0.7407
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7407
Epoch 50/100
804/804 [==============================] - 1s 909us/step - loss: 0.5316 - accuracy: 0.7411
Epoch 51/100
804/804 [==============================] - 1s 946us/step - loss: 0.5314 - accuracy: 0.7416
Epoch 52/100
804/804 [==============================] - 1s 993us/step - loss: 0.5310 - accuracy: 0.7425
Epoch 53/100
804/804 [==============================] - 1s 962us/step - loss: 0.5317 - accuracy: 0.7409
Epoch 54/100
804/804 [==============================] - 1s 911us/step - loss: 0.5312 - accuracy: 0.7419
Epoch 55/100
804/804 [==============================] - 1s 925us/step - loss: 0.5305 - accuracy: 0.7416
Epoch 56/100
804/804 [==============================] - 1s 923us/step - loss: 0.5306 - accuracy: 0.7412
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5307 - accuracy: 0.7415
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5307 - accuracy: 0.7413
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5306 - accuracy: 0.7423
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5307 - accuracy: 0.7422
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5306 - accuracy: 0.7415
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5299 - accuracy: 0.7422
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5304 - accuracy: 0.7419
Epoch 64/100
804/804 [==============================] - 1s 970us/step - loss: 0.5300 - accuracy: 0.7426
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5303 - accuracy: 0.7419
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5296 - accuracy: 0.7426
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5304 - accuracy: 0.7424
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5298 - accuracy: 0.7429
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5296 - accuracy: 0.7421
Epoch 70/100
804/804 [==============================] - 1s 893us/step - loss: 0.5298 - accuracy: 0.7427
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5294 - accuracy: 0.7420
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5298 - accuracy: 0.7423
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5292 - accuracy: 0.7422
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5296 - accuracy: 0.7425
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5295 - accuracy: 0.7420
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5290 - accuracy: 0.7421
Epoch 77/100
804/804 [==============================] - 1s 985us/step - loss: 0.5294 - accuracy: 0.7427
Epoch 78/100
804/804 [==============================] - 1s 994us/step - loss: 0.5292 - accuracy: 0.7426
Epoch 79/100
804/804 [==============================] - 1s 925us/step - loss: 0.5290 - accuracy: 0.7433
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5286 - accuracy: 0.7420
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5289 - accuracy: 0.7432
Epoch 82/100
804/804 [==============================] - 1s 964us/step - loss: 0.5290 - accuracy: 0.7427
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5292 - accuracy: 0.7422
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5286 - accuracy: 0.7429
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5289 - accuracy: 0.7426
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5286 - accuracy: 0.7424
Epoch 87/100
804/804 [==============================] - 1s 997us/step - loss: 0.5289 - accuracy: 0.7414
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5287 - accuracy: 0.7430
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5287 - accuracy: 0.7421
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5287 - accuracy: 0.7427
Epoch 91/100
804/804 [==============================] - 1s 970us/step - loss: 0.5287 - accuracy: 0.7423
Epoch 92/100
804/804 [==============================] - 1s 988us/step - loss: 0.5286 - accuracy: 0.7428
Epoch 93/100
804/804 [==============================] - 1s 945us/step - loss: 0.5281 - accuracy: 0.7430
Epoch 94/100
804/804 [==============================] - 1s 905us/step - loss: 0.5279 - accuracy: 0.7431
Epoch 95/100
804/804 [==============================] - 1s 901us/step - loss: 0.5280 - accuracy: 0.7427
Epoch 96/100
804/804 [==============================] - 1s 866us/step - loss: 0.5278 - accuracy: 0.7429
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5282 - accuracy: 0.7427
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5278 - accuracy: 0.7423
Epoch 99/100
804/804 [==============================] - 1s 888us/step - loss: 0.5278 - accuracy: 0.7424
Epoch 100/100
804/804 [==============================] - 1s 946us/step - loss: 0.5275 - accuracy: 0.7435

<font color=Crimson>**Outcome of Alternative Model 1:**</font>

- For this first alternative model, an additional `hidden_node_layer3_A1` was added with the hidden layer's number of hidden nodes derived utilizing the same methodology used to go from `hidden_node_layer1` to `hidden_node_layer2` in the original model which included adding `1` to the number of hidden nodes from the previous hidden layer (`hidden_node_layer1` to `hidden_node_layer2`) then dividing that output by `2` using *floor division*.

- In addition, the first alternative model was run with `epochs=100` as opposed to the `epochs=50` of the original model.


- The results of the first alternative model however while improving over the original model only managed to do so for a reduction in **loss** by <font color=cyan>~2.76%</font> and an improvement in **accuracy** by <font color=cyan>~1.25%</font>.

#### Alternative Model 2

In [74]:
# Reduce size of applicant_data_df by removing outlying values
applicant_data_df_A2 = applicant_data_df[applicant_data_df['ASK_AMT'] > 5000]

# Review the reduced dataframe
applicant_data_df_A2

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
6,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
...,...,...,...,...,...,...,...,...,...,...
34281,T3,Independent,C1000,Preservation,Trust,1,1M-5M,N,56261,1
34284,T3,CompanySponsored,C1000,Preservation,Association,1,1M-5M,N,3384856,0
34287,T3,Independent,C1200,Preservation,Trust,1,25000-99999,N,6713,1
34289,T3,Independent,C1000,Preservation,Trust,1,25000-99999,N,20197,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [75]:
# reate the list of categorical varialbes
categorical_variables_A2 = list(
    applicant_data_df_A2.dtypes[
        applicant_data_df_A2.dtypes == 'object'
    ].index
)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [76]:
# Create a OneHotEncoder instance
enc_A2 = OneHotEncoder(sparse=False)

In [79]:
# Encode the categorical variables using OneHotEncoder
encoded_data_A2 = enc_A2.fit_transform(
    applicant_data_df_A2[categorical_variables_A2]
)

In [80]:
# Create a DataFrame with the encoded variables
encoded_df_A2 = pd.DataFrame(
    encoded_data_A2,
    columns = enc_A2.get_feature_names(categorical_variables_A2)
)

# Review the DataFrame
display(encoded_df_A2.dtypes)
print(encoded_df_A2)

APPLICATION_TYPE_T10        float64
APPLICATION_TYPE_T12        float64
APPLICATION_TYPE_T13        float64
APPLICATION_TYPE_T14        float64
APPLICATION_TYPE_T15        float64
                             ...
INCOME_AMT_25000-99999      float64
INCOME_AMT_50M+             float64
INCOME_AMT_5M-10M           float64
SPECIAL_CONSIDERATIONS_N    float64
SPECIAL_CONSIDERATIONS_Y    float64
Length: 86, dtype: object

      APPLICATION_TYPE_T10  APPLICATION_TYPE_T12  APPLICATION_TYPE_T13  \
0                      0.0                   0.0                   0.0
1                      0.0                   0.0                   0.0
2                      0.0                   0.0                   0.0
3                      0.0                   0.0                   0.0
4                      0.0                   0.0                   0.0
...                    ...                   ...                   ...
8896                   0.0                   0.0                   0.0
8897                   0.0                   0.0                   0.0
8898                   0.0                   0.0                   0.0
8899                   0.0                   0.0                   0.0
8900                   0.0                   0.0                   0.0

      APPLICATION_TYPE_T14  APPLICATION_TYPE_T15  APPLICATION_TYPE_T17  \
0                      0.0                   0.0                   0.0
1                      0.0                   0.0                   0.0
2                      0.0                   0.0                   0.0
3                      0.0                   0.0                   0.0
4                      0.0                   0.0                   0.0
...                    ...                   ...                   ...
8896                   0.0                   0.0                   0.0
8897                   0.0                   0.0                   0.0
8898                   0.0                   0.0                   0.0
8899                   0.0                   0.0                   0.0
8900                   0.0                   0.0                   0.0

      APPLICATION_TYPE_T19  APPLICATION_TYPE_T2  APPLICATION_TYPE_T25  \
0                      0.0                  0.0                   0.0
1                      0.0                  0.0                   0.0
2                      0.0                  0.0                   0.0
3                      0.0                  0.0                   0.0
4                      0.0                  0.0                   0.0
...                    ...                  ...                   ...
8896                   0.0                  0.0                   0.0
8897                   0.0                  0.0                   0.0
8898                   0.0                  0.0                   0.0
8899                   0.0                  0.0                   0.0
8900                   0.0                  0.0                   0.0

      APPLICATION_TYPE_T29  ...  INCOME_AMT_1-9999  INCOME_AMT_10000-24999  \
0                      0.0  ...                1.0                     0.0
1                      0.0  ...                0.0                     1.0
2                      0.0  ...                0.0                     0.0
3                      0.0  ...                0.0                     0.0
4                      0.0  ...                0.0                     0.0
...                    ...  ...                ...                     ...
8896                   0.0  ...                0.0                     0.0
8897                   0.0  ...                0.0                     0.0
8898                   0.0  ...                0.0                     0.0
8899                   0.0  ...                0.0                     0.0
8900                   0.0  ...                0.0                     0.0

      INCOME_AMT_100000-499999  INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  \
0                          0.0                 0.0               0.0
1                          0.0                 0.0               0.0
2                          1.0                 0.0               0.0
3                          1.0                 0.0               0.0
4                          0.0                 1.0               0.0
...                        ...                 ...               ...
8896                       0.0                 0.0               1.0
8897                       0.0                 0.0               1.0
8898                       0.0                 0.0               0.0
8899                       0.0                 0.0               0.0
8900                       0.0                 0.0               1.0

      INCOME_AMT_25000-99999  INCOME_AMT_50M+  INCOME_AMT_5M-10M  \
0                        0.0              0.0                0.0
1                        0.0              0.0                0.0
2                        0.0              0.0                0.0
3                        0.0              0.0                0.0
4                        0.0              0.0                0.0
...                      ...              ...                ...
8896                     0.0              0.0                0.0
8897                     0.0              0.0                0.0
8898                     1.0              0.0                0.0
8899                     1.0              0.0                0.0
8900                     0.0              0.0                0.0

      SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0                          1.0                       0.0
1                          1.0                       0.0
2                          1.0                       0.0
3                          1.0                       0.0
4                          1.0                       0.0
...                        ...                       ...
8896                       1.0                       0.0
8897                       1.0                       0.0
8898                       1.0                       0.0
8899                       1.0                       0.0
8900                       1.0                       0.0

[8901 rows x 86 columns]

In [83]:
# Create a DataFrame with the columns containing numerical variables from the original dataset
numerical_variables_df_A2 = applicant_data_df_A2.drop(columns=categorical_variables_A2)

# Review numerical_variables_df_A2
display(numerical_variables_df_A2)

# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
combined_encoded_df_A2 = pd.concat(
    [
        numerical_variables_df_A2,
        encoded_df_A2
    ],
    axis=1
)

# Review the Dataframe
print(combined_encoded_df_A2)

       STATUS   ASK_AMT  IS_SUCCESSFUL
1           1    108590              1
3           1      6692              1
4           1    142590              1
6           1     31452              1
7           1   7508025              1
...       ...       ...            ...
34281       1     56261              1
34284       1   3384856              0
34287       1      6713              1
34289       1     20197              1
34298       1  36500179              0

[8901 rows x 3 columns]

       STATUS     ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_T10  \
0         NaN         NaN            NaN                   0.0
1         1.0    108590.0            1.0                   0.0
2         NaN         NaN            NaN                   0.0
3         1.0      6692.0            1.0                   0.0
4         1.0    142590.0            1.0                   0.0
...       ...         ...            ...                   ...
34281     1.0     56261.0            1.0                   NaN
34284     1.0   3384856.0            0.0                   NaN
34287     1.0      6713.0            1.0                   NaN
34289     1.0     20197.0            1.0                   NaN
34298     1.0  36500179.0            0.0                   NaN

       APPLICATION_TYPE_T12  APPLICATION_TYPE_T13  APPLICATION_TYPE_T14  \
0                       0.0                   0.0                   0.0
1                       0.0                   0.0                   0.0
2                       0.0                   0.0                   0.0
3                       0.0                   0.0                   0.0
4                       0.0                   0.0                   0.0
...                     ...                   ...                   ...
34281                   NaN                   NaN                   NaN
34284                   NaN                   NaN                   NaN
34287                   NaN                   NaN                   NaN
34289                   NaN                   NaN                   NaN
34298                   NaN                   NaN                   NaN

       APPLICATION_TYPE_T15  APPLICATION_TYPE_T17  APPLICATION_TYPE_T19  ...  \
0                       0.0                   0.0                   0.0  ...
1                       0.0                   0.0                   0.0  ...
2                       0.0                   0.0                   0.0  ...
3                       0.0                   0.0                   0.0  ...
4                       0.0                   0.0                   0.0  ...
...                     ...                   ...                   ...  ...
34281                   NaN                   NaN                   NaN  ...
34284                   NaN                   NaN                   NaN  ...
34287                   NaN                   NaN                   NaN  ...
34289                   NaN                   NaN                   NaN  ...
34298                   NaN                   NaN                   NaN  ...

       INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                    1.0                     0.0                       0.0
1                    0.0                     1.0                       0.0
2                    0.0                     0.0                       1.0
3                    0.0                     0.0                       1.0
4                    0.0                     0.0                       0.0
...                  ...                     ...                       ...
34281                NaN                     NaN                       NaN
34284                NaN                     NaN                       NaN
34287                NaN                     NaN                       NaN
34289                NaN                     NaN                       NaN
34298                NaN                     NaN                       NaN

       INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                     0.0               0.0                     0.0
1                     0.0               0.0                     0.0
2                     0.0               0.0                     0.0
3                     0.0               0.0                     0.0
4                     1.0               0.0                     0.0
...                   ...               ...                     ...
34281                 NaN               NaN                     NaN
34284                 NaN               NaN                     NaN
34287                 NaN               NaN                     NaN
34289                 NaN               NaN                     NaN
34298                 NaN               NaN                     NaN

       INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                  0.0                0.0                       1.0
1                  0.0                0.0                       1.0
2                  0.0                0.0                       1.0
3                  0.0                0.0                       1.0
4                  0.0                0.0                       1.0
...                ...                ...                       ...
34281              NaN                NaN                       NaN
34284              NaN                NaN                       NaN
34287              NaN                NaN                       NaN
34289              NaN                NaN                       NaN
34298              NaN                NaN                       NaN

       SPECIAL_CONSIDERATIONS_Y
0                           0.0
1                           0.0
2                           0.0
3                           0.0
4                           0.0
...                         ...
34281                       NaN
34284                       NaN
34287                       NaN
34289                       NaN
34298                       NaN

[15515 rows x 89 columns]

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features_A2 = len(X_train.iloc[0])

# Review the number of features
number_input_features

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = # YOUR CODE HERE

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

In [ ]:
# Create the Sequential model instance
nn_A2 = # YOUR CODE HERE

In [ ]:
# First hidden layer
# YOUR CODE HERE

# Output layer
# YOUR CODE HERE

# Check the structure of the model
# YOUR CODE HERE

In [ ]:
# Compile the model
# YOUR CODE HERE

In [ ]:
# Fit the model
# YOUR CODE HERE

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

In [ ]:
# Set the file path for the second alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE