# Venture Funding with Deep Learning

## Instructions

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

**Instructions:**

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

**Prepare the Data for Use on a Neural Network Model**

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

**Compile and Evaluate a Binary Classification Model Using a Neural Network**

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

**Optimize the Neural Network Model**

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

## <font color=LimeGreen>\~\~\~begin code\~\~\~</font>

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

# custom functions
from custom_functions.compose_neural_network import (
    encode_categorical_variables,
    create_features_and_target,
    scale_features_data,
    binary_class_neural_net
)

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path('./Resources/applicants_data.csv'))

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])  

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### <font color=OrangeRed>**COMBINED STEPS 3 & 4**</font>

In [5]:
# Encode categorical variables and combine with numerical variables
# into a new DataFrame
encoded_df = encode_categorical_variables(applicant_data_df)

# Review the encoded DataFrame
encoded_df

Categorical Variables:
['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

Combined Encoded DataFrame:
       STATUS   ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_T10  \
0           1      5000              1                   1.0
1           1    108590              1                   0.0
2           1      5000              0                   0.0
3           1      6692              1                   0.0
4           1    142590              1                   0.0
...       ...       ...            ...                   ...
34294       1      5000              0                   0.0
34295       1      5000              0                   0.0
34296       1      5000              0                   0.0
34297       1      5000              1                   0.0
34298       1  36500179              0                   0.0

       APPLICATION_TYPE_T12  APPLICATION_TYPE_T13  APPLICATION_TYPE_T14  \
0                       0.0                   0.0                   0.0
1                       0.0                   0.0                   0.0
2                       0.0                   0.0                   0.0
3                       0.0                   0.0                   0.0
4                       0.0                   0.0                   0.0
...                     ...                   ...                   ...
34294                   0.0                   0.0                   0.0
34295                   0.0                   0.0                   0.0
34296                   0.0                   0.0                   0.0
34297                   0.0                   0.0                   0.0
34298                   0.0                   0.0                   0.0

       APPLICATION_TYPE_T15  APPLICATION_TYPE_T17  APPLICATION_TYPE_T19  ...  \
0                       0.0                   0.0                   0.0  ...
1                       0.0                   0.0                   0.0  ...
2                       0.0                   0.0                   0.0  ...
3                       0.0                   0.0                   0.0  ...
4                       0.0                   0.0                   0.0  ...
...                     ...                   ...                   ...  ...
34294                   0.0                   0.0                   0.0  ...
34295                   0.0                   0.0                   0.0  ...
34296                   0.0                   0.0                   0.0  ...
34297                   0.0                   0.0                   0.0  ...
34298                   0.0                   0.0                   0.0  ...

       INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                    0.0                     0.0                       0.0
1                    1.0                     0.0                       0.0
2                    0.0                     0.0                       0.0
3                    0.0                     1.0                       0.0
4                    0.0                     0.0                       1.0
...                  ...                     ...                       ...
34294                0.0                     0.0                       0.0
34295                0.0                     0.0                       0.0
34296                0.0                     0.0                       0.0
34297                0.0                     0.0                       0.0
34298                0.0                     0.0                       0.0

       INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                     0.0               0.0                     0.0
1                     0.0               0.0                     0.0
2                     0.0               0.0                     0.0
3                     0.0               0.0                     0.0
4                     0.0               0.0                     0.0
...                   ...               ...                     ...
34294                 0.0               0.0                     0.0
34295                 0.0               0.0                     0.0
34296                 0.0               0.0                     0.0
34297                 0.0               0.0                     0.0
34298                 0.0               1.0                     0.0

       INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                  0.0                0.0                       1.0
1                  0.0                0.0                       1.0
2                  0.0                0.0                       1.0
3                  0.0                0.0                       1.0
4                  0.0                0.0                       1.0
...                ...                ...                       ...
34294              0.0                0.0                       1.0
34295              0.0                0.0                       1.0
34296              0.0                0.0                       1.0
34297              0.0                0.0                       1.0
34298              0.0                0.0                       1.0

       SPECIAL_CONSIDERATIONS_Y
0                           0.0
1                           0.0
2                           0.0
3                           0.0
4                           0.0
...                         ...
34294                       0.0
34295                       0.0
34296                       0.0
34297                       0.0
34298                       0.0

[34299 rows x 117 columns]

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### <font color=OrangeRed>*collapsed steps 3 & 4*</font>

#### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
# categorical_variables = # YOUR CODE HERE

# Display the categorical variables list
# YOUR CODE HERE

In [7]:
# Create a OneHotEncoder instance
# enc = # YOUR CODE HERE

In [8]:
# Encode the categorcal variables using OneHotEncoder
# encoded_data = # YOUR CODE HERE

In [9]:
# Create a DataFrame with the encoded variables
# encoded_df = # YOUR CODE HERE

# Review the DataFrame
# YOUR CODE HERE

#### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
# encoded_df = # YOUR CODE HERE

# Review the Dataframe
# YOUR CODE HERE

### <font color=OrangeRed>**COMBINED STEP 5**</font>

In [11]:
# This custom function assigns the target ~then~ the features 
target, features  = create_features_and_target(encoded_df,"IS_SUCCESSFUL",True)

Target Dataset (y):
0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

Features Dataset:
       STATUS   ASK_AMT  APPLICATION_TYPE_T10  APPLICATION_TYPE_T12  \
0           1      5000                   1.0                   0.0
1           1    108590                   0.0                   0.0
2           1      5000                   0.0                   0.0
3           1      6692                   0.0                   0.0
4           1    142590                   0.0                   0.0
...       ...       ...                   ...                   ...
34294       1      5000                   0.0                   0.0
34295       1      5000                   0.0                   0.0
34296       1      5000                   0.0                   0.0
34297       1      5000                   0.0                   0.0
34298       1  36500179                   0.0                   0.0

       APPLICATION_TYPE_T13  APPLICATION_TYPE_T14  APPLICATION_TYPE_T15  \
0                       0.0                   0.0                   0.0
1                       0.0                   0.0                   0.0
2                       0.0                   0.0                   0.0
3                       0.0                   0.0                   0.0
4                       0.0                   0.0                   0.0
...                     ...                   ...                   ...
34294                   0.0                   0.0                   0.0
34295                   0.0                   0.0                   0.0
34296                   0.0                   0.0                   0.0
34297                   0.0                   0.0                   0.0
34298                   0.0                   0.0                   0.0

       APPLICATION_TYPE_T17  APPLICATION_TYPE_T19  APPLICATION_TYPE_T2  ...  \
0                       0.0                   0.0                  0.0  ...
1                       0.0                   0.0                  0.0  ...
2                       0.0                   0.0                  0.0  ...
3                       0.0                   0.0                  0.0  ...
4                       0.0                   0.0                  0.0  ...
...                     ...                   ...                  ...  ...
34294                   0.0                   0.0                  0.0  ...
34295                   0.0                   0.0                  0.0  ...
34296                   0.0                   0.0                  0.0  ...
34297                   0.0                   0.0                  0.0  ...
34298                   0.0                   0.0                  0.0  ...

       INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                    0.0                     0.0                       0.0
1                    1.0                     0.0                       0.0
2                    0.0                     0.0                       0.0
3                    0.0                     1.0                       0.0
4                    0.0                     0.0                       1.0
...                  ...                     ...                       ...
34294                0.0                     0.0                       0.0
34295                0.0                     0.0                       0.0
34296                0.0                     0.0                       0.0
34297                0.0                     0.0                       0.0
34298                0.0                     0.0                       0.0

       INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                     0.0               0.0                     0.0
1                     0.0               0.0                     0.0
2                     0.0               0.0                     0.0
3                     0.0               0.0                     0.0
4                     0.0               0.0                     0.0
...                   ...               ...                     ...
34294                 0.0               0.0                     0.0
34295                 0.0               0.0                     0.0
34296                 0.0               0.0                     0.0
34297                 0.0               0.0                     0.0
34298                 0.0               1.0                     0.0

       INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                  0.0                0.0                       1.0
1                  0.0                0.0                       1.0
2                  0.0                0.0                       1.0
3                  0.0                0.0                       1.0
4                  0.0                0.0                       1.0
...                ...                ...                       ...
34294              0.0                0.0                       1.0
34295              0.0                0.0                       1.0
34296              0.0                0.0                       1.0
34297              0.0                0.0                       1.0
34298              0.0                0.0                       1.0

       SPECIAL_CONSIDERATIONS_Y
0                           0.0
1                           0.0
2                           0.0
3                           0.0
4                           0.0
...                         ...
34294                       0.0
34295                       0.0
34296                       0.0
34297                       0.0
34298                       0.0

[34299 rows x 116 columns]

### <font color=OrangeRed>*collapsed step 5*</font>

#### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [12]:
# Define the target set y using the IS_SUCCESSFUL column
# y = # YOUR CODE HERE

# Display a sample of y
# YOUR CODE HERE

In [13]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
# X = # YOUR CODE HERE

# Review the features DataFrame
# YOUR CODE HERE

### Step 6: Split the features and target sets into training and testing datasets.

In [14]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(
    features,
    target,
    random_state=1
)

### <font color=OrangeRed>**COMBINED STEP 7**</font>

In [15]:
# Scale the features data
X_train_scaled, X_test_scaled = scale_features_data(X_train, X_test)

### <font color=OrangeRed>*collapsed step 7*</font>

#### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [16]:
# Create a StandardScaler instance
# scaler = # YOUR CODE HERE

# Fit the scaler to the features training dataset
# X_scaler = # YOUR CODE HERE

# Fit the scaler to the features training dataset
# X_train_scaled = # YOUR CODE HERE
# X_test_scaled = # YOUR CODE HERE

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### <font color=OrangeRed>**COMBINED STEP 1**</font>

In [17]:
# Define inputs for the function
# to build and compile the model
number_input_features = len(X_train.iloc[0])
hidden_node_layers = []     # List of lists to hold hidden node layer info

# The first sub-item assigns the number of hidden nodes in the layer
# The second sub-item assigns the activation function for the layer

# Hidden node layer 1
hidden_node_layers.append(
        [
                (number_input_features + 1) // 2,
                'relu'
        ]
)

# Hidden node layer 2
hidden_node_layers.append(
        [
                (hidden_node_layers[0][0] + 1) // 2,
                'relu'
        ]
)

# Activation function for the output layer
output_layer_activation = 'sigmoid'

# NOTE: This function currently supports ONLY ONE output neuron
nn = binary_class_neural_net(
        number_input_features,
        hidden_node_layers,
        output_layer_activation
)

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 58)                6786
_________________________________________________________________
dense_1 (Dense)              (None, 29)                1711
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 30
=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### <font color=OrangeRed>*collapsed step 1*</font>

#### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [18]:
# Define the the number of inputs (features) to the model
# number_input_features = len(X_train.iloc[0])

# Review the number of features
# number_input_features

116

In [19]:
# Define the number of neurons in the output layer
# number_output_neurons = 1

In [20]:
# Define the number of hidden nodes for the first hidden layer
# hidden_nodes_layer1 = 

# Review the number hidden nodes in the first layer
# hidden_nodes_layer1

SyntaxError: invalid syntax (<ipython-input-20-f84c1a8e2dc9>, line 2)

In [ ]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  # YOUR CODE HERE

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

In [ ]:
# Create the Sequential model instance
nn = # YOUR CODE HERE

In [ ]:
# Add the first hidden layer
# YOUR CODE HERE

In [ ]:
# Add the second hidden layer
# YOUR CODE HERE

In [ ]:
# Add the output layer to the model specifying the number of output neurons and activation function
# YOUR CODE HERE

In [ ]:
# Display the Sequential model summary
# YOUR CODE HERE

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [ ]:
# Compile the Sequential model
# YOUR CODE HERE

# NOTE: PERFORMED DURING CUSTOM FUNCTION IN PREVIOUS STEP

In [21]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(
    X_train_scaled,
    y_train,
    epochs=50
)

Epoch 1/50
804/804 [==============================] - 1s 668us/step - loss: 0.5784 - accuracy: 0.7179
Epoch 2/50
804/804 [==============================] - 0s 566us/step - loss: 0.5552 - accuracy: 0.7284
Epoch 3/50
804/804 [==============================] - 0s 569us/step - loss: 0.5502 - accuracy: 0.7301
Epoch 4/50
804/804 [==============================] - 0s 613us/step - loss: 0.5476 - accuracy: 0.7311
Epoch 5/50
804/804 [==============================] - 1s 659us/step - loss: 0.5469 - accuracy: 0.7343
Epoch 6/50
804/804 [==============================] - 0s 602us/step - loss: 0.5454 - accuracy: 0.7331
Epoch 7/50
804/804 [==============================] - 1s 642us/step - loss: 0.5453 - accuracy: 0.7337
Epoch 8/50
804/804 [==============================] - 1s 632us/step - loss: 0.5435 - accuracy: 0.7327
Epoch 9/50
804/804 [==============================] - 0s 558us/step - loss: 0.5429 - accuracy: 0.7322
Epoch 10/50
804/804 [==============================] - 1s 641us/step - loss: 0.5421 - accuracy: 0.7343
Epoch 11/50
804/804 [==============================] - 1s 657us/step - loss: 0.5417 - accuracy: 0.7355
Epoch 12/50
804/804 [==============================] - 0s 581us/step - loss: 0.5409 - accuracy: 0.7353
Epoch 13/50
804/804 [==============================] - 0s 570us/step - loss: 0.5404 - accuracy: 0.7367
Epoch 14/50
804/804 [==============================] - 1s 639us/step - loss: 0.5398 - accuracy: 0.7364
Epoch 15/50
804/804 [==============================] - 0s 598us/step - loss: 0.5397 - accuracy: 0.7364
Epoch 16/50
804/804 [==============================] - 0s 580us/step - loss: 0.5387 - accuracy: 0.7361
Epoch 17/50
804/804 [==============================] - 1s 624us/step - loss: 0.5383 - accuracy: 0.7383
Epoch 18/50
804/804 [==============================] - 0s 594us/step - loss: 0.5381 - accuracy: 0.7367
Epoch 19/50
804/804 [==============================] - 0s 569us/step - loss: 0.5372 - accuracy: 0.7382
Epoch 20/50
804/804 [==============================] - 0s 574us/step - loss: 0.5376 - accuracy: 0.7386
Epoch 21/50
804/804 [==============================] - 1s 656us/step - loss: 0.5373 - accuracy: 0.7379
Epoch 22/50
804/804 [==============================] - 0s 550us/step - loss: 0.5362 - accuracy: 0.7390
Epoch 23/50
804/804 [==============================] - 0s 560us/step - loss: 0.5366 - accuracy: 0.7386
Epoch 24/50
804/804 [==============================] - 1s 666us/step - loss: 0.5360 - accuracy: 0.7388
Epoch 25/50
804/804 [==============================] - 0s 558us/step - loss: 0.5354 - accuracy: 0.7389
Epoch 26/50
804/804 [==============================] - 0s 574us/step - loss: 0.5354 - accuracy: 0.7397
Epoch 27/50
804/804 [==============================] - 0s 621us/step - loss: 0.5351 - accuracy: 0.7382
Epoch 28/50
804/804 [==============================] - 0s 599us/step - loss: 0.5347 - accuracy: 0.7400
Epoch 29/50
804/804 [==============================] - 0s 549us/step - loss: 0.5345 - accuracy: 0.7401
Epoch 30/50
804/804 [==============================] - 0s 608us/step - loss: 0.5347 - accuracy: 0.7397
Epoch 31/50
804/804 [==============================] - 0s 615us/step - loss: 0.5345 - accuracy: 0.7395
Epoch 32/50
804/804 [==============================] - 0s 556us/step - loss: 0.5338 - accuracy: 0.7393
Epoch 33/50
804/804 [==============================] - 0s 582us/step - loss: 0.5337 - accuracy: 0.7407
Epoch 34/50
804/804 [==============================] - 1s 705us/step - loss: 0.5337 - accuracy: 0.7403
Epoch 35/50
804/804 [==============================] - 0s 567us/step - loss: 0.5339 - accuracy: 0.7409
Epoch 36/50
804/804 [==============================] - 0s 554us/step - loss: 0.5334 - accuracy: 0.7418
Epoch 37/50
804/804 [==============================] - 1s 660us/step - loss: 0.5332 - accuracy: 0.7416
Epoch 38/50
804/804 [==============================] - 0s 573us/step - loss: 0.5330 - accuracy: 0.7414
Epoch 39/50
804/804 [==============================] - 0s 572us/step - loss: 0.5329 - accuracy: 0.7398
Epoch 40/50
804/804 [==============================] - 0s 616us/step - loss: 0.5326 - accuracy: 0.7403
Epoch 41/50
804/804 [==============================] - 0s 589us/step - loss: 0.5325 - accuracy: 0.7406
Epoch 42/50
804/804 [==============================] - 0s 573us/step - loss: 0.5328 - accuracy: 0.7402
Epoch 43/50
804/804 [==============================] - 0s 603us/step - loss: 0.5322 - accuracy: 0.7404
Epoch 44/50
804/804 [==============================] - 1s 660us/step - loss: 0.5320 - accuracy: 0.7412
Epoch 45/50
804/804 [==============================] - 0s 547us/step - loss: 0.5325 - accuracy: 0.7414
Epoch 46/50
804/804 [==============================] - 0s 560us/step - loss: 0.5326 - accuracy: 0.7407
Epoch 47/50
804/804 [==============================] - 1s 642us/step - loss: 0.5318 - accuracy: 0.7419
Epoch 48/50
804/804 [==============================] - 0s 565us/step - loss: 0.5318 - accuracy: 0.7412
Epoch 49/50
804/804 [==============================] - 0s 560us/step - loss: 0.5315 - accuracy: 0.7418
Epoch 50/50
804/804 [==============================] - 0s 612us/step - loss: 0.5314 - accuracy: 0.7413

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [22]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(
    X_test_scaled,
    y_test,
    verbose=2
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5558 - accuracy: 0.7306
Loss: 0.5557859539985657, Accuracy: 0.7306122183799744

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [23]:
# Set the model's file path
file_path = Path('./Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = # YOUR CODE HERE

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

In [ ]:
# Create the Sequential model instance
nn_A1 = # YOUR CODE HERE

In [ ]:
# First hidden layer
# YOUR CODE HERE


# Output layer
# YOUR CODE HERE


# Check the structure of the model
# YOUR CODE HERE

In [ ]:
# Compile the Sequential model
nn_A1.# YOUR CODE HERE

In [ ]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = # YOUR CODE HERE

#### Alternative Model 2

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = # YOUR CODE HERE

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

In [ ]:
# Create the Sequential model instance
nn_A2 = # YOUR CODE HERE

In [ ]:
# First hidden layer
# YOUR CODE HERE

# Output layer
# YOUR CODE HERE

# Check the structure of the model
# YOUR CODE HERE

In [ ]:
# Compile the model
# YOUR CODE HERE

In [ ]:
# Fit the model
# YOUR CODE HERE

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

In [ ]:
# Set the file path for the second alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE